body {
  background-color: #eee; }
  body a {
    color: blue; }
    body a:hover {
      color: #000; }

body {
  font-size: 16px;
  transform: translate(0%, 0%); }

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; }
